.cart {
  display: flex;
  max-width: 1300px;
  margin: 2rem auto;
}

.cart h2 {
  margin-bottom: 1rem;
}

.cart-left {
  flex: 0.7;
  margin-right: 0;
  background: transparent;
  padding: 1rem;
}

.cart-right {
  flex: 0.3;
  background: #fff;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
  height: fit-content;
}

.cart-right div {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding: 1rem;
}

.cart-info p {
  padding: 8px;
}

.cart-info p:first-child {
  font-weight: bold;
}

.cart-right div:last-child {
  border: none;
}

.cart-right div button {
  padding: 10px 17px;
  width: 100%;
  background: rgb(71, 41, 243);
  color: #faf6f6;
  border: 1px solid #171717;
  cursor: pointer;
}

.cart-right div button:hover {
  opacity: 0.9;
}

@media (max-width: 1320px) {
  .cart {
    max-width: 900px;
  }
}

@media (max-width: 960px) {
  .cart {
    max-width: 800px;
  }
}

@media (max-width: 960px) {
  .cart {
    flex-direction: column;
  }

  .cart-right {
    margin: 1rem;
  }
}
